@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed:400,600');

* {
	outline: none;
	box-sizing: border-box;

	margin: 0;
	padding: 0;
}

.page {
	width: 100%;
	height: 100%;

	font-family: "Encode Sans Condensed", sans-serif;
	font-weight: 600;
	letter-spacing: 0.03em;

	color: #212121;
	background: #000000;
}

header {
	display: flex;
	position: fixed;
	justify-content: center;
	align-items: center;

	width: 100vw;
	height: 48px;

	color: #E4E4E2;
	background: #000000;

	text-transform: uppercase;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

main {
	display: block;
	position: fixed;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 100%;
	min-width: 100%;
	min-height: 100%;

	padding: 48px 0px;
	overflow: auto;
	z-index: -1;
}

main > div {
	margin: auto;
}

#nav-container {
	position: fixed;

	width: 100%;
	height: 100vh;

	pointer-events: none;
}

#nav-container * {
	visibility: visible;
}

#nav-container .bg {
	position: absolute;

	width: 100%;
	height: calc(100% - 48px);

	top: 48px;

	background: #000000;

	opacity: 0;
	transition: 0.30s;
	visibility: hidden;
}

#nav-container:focus-within .bg {
	opacity: 0.60;
	visibility: visible;
}

#nav-container:focus-within .button {
	pointer-events: none;
}

.button {
	display: flex;
	flex-direction: column;
	position: relative;
	justify-content: center;

	width: 30px;
	height: 48px;

	margin-left: 12px;

	border: 0;
	border-radius: 0;

	background: transparent;

	-webkit-appearance: none;
	cursor: pointer;
	pointer-events: auto;
	touch-action: manipulation;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	z-index: 1;
}

#nav-container:focus-within .icon-bar:nth-of-type(1) {
	transform: translate3d(0,8px,0) rotate(45deg);
}

#nav-container:focus-within .icon-bar:nth-of-type(2) {
	opacity: 0;
}

#nav-container:focus-within .icon-bar:nth-of-type(3) {
	transform: translate3d(0,-8px,0) rotate(-45deg);
}

.icon-bar {
	display: block;

	width: 100%;
	height: 3px;

	background: #E4E4E2;

	opacity: 0.75;
	transition: 0.30s;
}

.icon-bar + .icon-bar {
	margin-top: 5px;
}

#nav-container:focus-within #nav-content {
	transform: none;
}

#nav-content {
	position: absolute;

	top: 0;
	left: 0;

	margin-top: 48px;
	padding: 8px;

	border-radius: 8px;

	background: #E4E4E2;
	color: #000000;

	pointer-events: auto;
	transform: translateX(-200%);
	transition: transform 0.30s;
	will-change: transform;
	contain: paint;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

#nav-content ul {
	display: flex;
	flex-direction: column;

	height: 100%;

	list-style: none;
}

#nav-content li a {
	display: block;

	padding: 6px 6px;

	text-transform: uppercase;
	transition: color 0.30s;
}

#nav-content li a:hover {
	color: #A5282C;
}

#nav-content li:not(.small) + .small {
	margin-top: auto;
}

html, body {
	overflow: hidden;
	overscroll-behavior: contain;
	background: black;
}

a,
a:visited,
a:focus,
a:active,
a:link {
	text-decoration: none;
}

a {
	color: currentColor;

	transition: 0.20s ease-in-out;
}

.center {
	width: 50%;
	height: 50%;
	margin-left: auto;
	margin-right: auto;
}

.logo {
	width: 200px;
	height: 200px;
	background: transparent;
	background-image: url("../logo.png");
	border-radius: 8px;
    -moz-border-radius: 8px;
	opacity: 0.75;

	margin-left: auto;
	margin-right: auto;
}

.copyright {
	padding-top: 174px;
	font-size: 14px;
	font-weight: 300;
	color: #000000;
}

.table-container {
	min-width: 100vw;
	min-height: calc(100vh - 96px);
	background: #535150;
	overflow: auto;
	padding: 8px;
}

#data {
	background: #E4E4E2;
	border-collapse: collapse;
	border-radius: 8px;
	-moz-border-radius: 8px;
}

#data th {
	padding: 16px;
	background: #E4E4E2;
	color: #A5282C;
	border-radius: 8px;
	-moz-border-radius: 8px;
}

#data th, #data td {
	padding: 16px;
	white-space: nowrap;
	text-align: left;
}

#data tr:nth-child(even) {
	background: #C5C5C4;
}

#data tr:hover {
	background-color: #B75356;
}

#data thead tr:hover {
	background-color: transparent;
}

#data tfoot tr:hover {
	background-color: transparent;
}

.form-control {
	display: block;
	min-width: 375px;
	width: 100%;
	height: calc(2.25rem + 2px);
	padding: .375rem .75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out
}