@page "/08"

@implements IDisposable

<table id="data" class="center">
    <thead>
        <tr>
            <th style="text-align:center">@Title</th>
        </tr>
    </thead>

    <tr>
        <td>
            <button @onclick="Create">&nbspCREATE&nbsp</button>
            <br />
            <br />
            @foreach (var Message in Messages)
            {
                <E08_Create_Component Message="@Message" CloseRequested="CloseRequested" />
            }
        </td>
    </tr>

    <tfoot>
        <tr><br /></tr>
    </tfoot>
</table>

@code {
    [Parameter]
    public string Title { get; set; }

    List<string> Messages = new List<string>();

    int Counter = 0;

    void Create()
    {
        Counter++;
        string Message = $"{Counter}";
        Messages.Add(Message);
    }

    void CloseRequested(string Message)
    {
        Messages.Remove(Message);
    }

    public override async Task SetParametersAsync(ParameterView Parameters)
    {
        Console.WriteLine($"Console: 0 OnParametersAsync()");
        System.Diagnostics.Debug.WriteLine($"Debug: 0 OnParametersAsync()");

        await base.SetParametersAsync(Parameters);
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        Console.WriteLine($"Console: 0 OnInitialized()");
        System.Diagnostics.Debug.WriteLine($"Debug: 0 OnInitialized()");
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        Console.WriteLine($"Console: 0 OnParametersSet()");
        System.Diagnostics.Debug.WriteLine($"Debug: 0 OnParametersSet()");

        if (Title == null || Title == "")
        {
            Title = "08";
        }
    }

    protected override void OnAfterRender(bool FirstRender)
    {
        base.OnAfterRender(FirstRender);

        Console.WriteLine($"Console: 0 OnAfterRender() FirstRender = {FirstRender}");
        System.Diagnostics.Debug.WriteLine($"Debug: 0 OnAfterRender() FirstRender = {FirstRender}");
    }

    void IDisposable.Dispose()
    {
        Console.WriteLine($"Console: 0 Dispose()");
        System.Diagnostics.Debug.WriteLine($"Debug: 0 Dispose()");
    }
}
