@inherits LayoutComponentBase

@inject NavigationManager MyNavigationManager

@inject UniformResourceLocator URL

    <div class="page">
        <Header Title=@URL.Page />
        <NavMenu />
        <main tabindex="0">
            <div>
                <table class="table-container">
                    <tr>
                        <td style="text-align:center">
                            @Body
                        </td>
                    </tr>
                </table>
            </div>
        </main>
    </div>

@code {
    protected override void OnInitialized()
    {
        URL.SetBase(MyNavigationManager.BaseUri.ToLower());
    }

    protected override void OnParametersSet()
    {
        URL.SetPage(MyNavigationManager.ToBaseRelativePath(MyNavigationManager.Uri.ToLower()));
    }
}
