@page "/_"

<table id="data" class="center">
    <thead>
        <tr>
            <th style="text-align:center">_</th>
        </tr>
    </thead>

    <tr>
        <td>This is a razor page template to use as a starting point for content.</td>
    </tr>


    <tfoot>
        <tr><br></tr>
    </tfoot>
</table>
