@page "/_"

<table id="data" class="center">
    <thead>
        <tr>
            <th style="text-align:center">DEBUG</th>
        </tr>
    </thead>

    <tr>
        <td></td>
    </tr>


    <tfoot>
        <tr><br></tr>
    </tfoot>
</table>
