@page "/About"

<table class="center logo">
    <tr>
        <td style="text-align:center">
            <div class="copyright">
                © 2021 FLAME Solutions
            </div>
        </td>
    </tr>
</table>
