@page "/Contact"

@inject UniformResourceLocator URL

<table class="center">
    <tr>
        <td>
            <form action="https://formsubmit.co/91bba47f0177a06d4660653339297a63" method="POST" enctype="multipart/form-data">
                <input class="form-control" type="text" name="Name" placeholder="Name" required><br>
                <input class="form-control" type="email" name="E-Mail" placeholder="E-Mail" required><br>
                <input class="form-control" type="text" name="_subject" placeholder="Subject" required><br>
                <input class="form-control" type="text" name="Message" placeholder="Message" required><br>
                <input class="form-control" type="file" name="Attachment_#1" accept="image/png, image/jpeg" style="text-transform: lowercase;"><br>
                <input class="form-control" type="file" name="Attachment_#2" accept="image/png, image/jpeg" style="text-transform: lowercase;"><br>
                <input class="form-control" type="file" name="Attachment_#3" accept="image/png, image/jpeg" style="text-transform: lowercase;"><br>
                <input class="form-control" type="hidden" name="_next" value=@MAHALO><br>
                <input class="form-control" type="hidden" name="_captcha" value="false"><br>
                <button class="form-control" type="submit">SEND</button>
            </form>
        </td>
    </tr>
</table>

@code{

    public string MAHALO { get; set; }

    protected override void OnParametersSet()
    {
        MAHALO = URL.Domain + "MAHALO";
    }
}
