@page "/MAHALO"

<table class="center logo">
    <tr>
        <td style="text-align:center">
            <div class="copyright">
                MAHALO
            </div>
        </td>
    </tr>
</table>
